.destacadas-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  article {
    min-height: 340px;
    @media (max-width: 980px) {
      height: 100vw;
    }
  }

  article:first-child {
    grid-row: span 2;
    grid-column: span 1;
  }

  @media (max-width: 980px) {
    display: block;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

#porque {
  background-image: url('/images/bg-usa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#casos {
  background-image: url('/images/bg-casosdeexito.jpg');
}

.shadow-main {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.indicators {
  position: absolute;
  width: 100%;
  bottom: 0.8rem;
  li {
    margin: 0 0.3rem !important;
    z-index: 40 !important;
  }
}

.select {
  background-image: url('/icons/angle-down-solid.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: 98% center;
}

.show-submenu:hover .submenu {
  display: block;
}

.react-international-phone-input {
  width: 100%;
  height: 3.5rem !important;
  border-top-right-radius: 1rem !important;
  border-bottom-right-radius: 1rem !important;
  font-size: 0.875rem !important;
  border: 0 !important;
}
.react-international-phone-country-selector-button {
  height: 3.5rem !important;
  border-top-left-radius: 1rem !important;
  border-bottom-left-radius: 1rem !important;
  width: 4.5rem !important;
  background-color: white !important;
  border: 0;
  border-right: 1px solid #ccc;
}

.item-destacada:hover,
.item-destacada-active {
  background-color: $color-primary !important;
  h2 {
    color: white;
  }
}
